@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

/* Certain things change upon zooming in and out. The default width value seems to be 2000. */
@media screen and (max-width: 1600px)
{
    *{
        color: whitesmoke;
        font-family: sans-serif, cursive;

    }
}

@media screen and (min-width: 2200px) {
    * {
        color: black;
        font-family:'Times New Roman', Times, serif;
    }
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Margarine", cursive ;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    background-image: url(images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: wheat;
}

#icon{
    display: flex;
    width: 75px;
    height: 75px;
    border: dashed;
    border-radius: 10px;
    border-width: 10px;
    padding: 10px;

}

#banner
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#footer{
    display: flex;
    justify-content: center;
}

.function-button
{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: darkgray;
    border: groove 5px darkgray;
}

.function-button:hover
{
    background-color: lightgray;
}